<header class="longHeader">

  <div class="header">
    <a href="/"><img
        class="Logo"
        src="/uploads/Logo_SCL_Tigers.svg.png"
        alt="SCL Tigers Logo"
      /></a>
    <a class="Home" href="/">Home</a>
    <a href="/news" class="">News</a>
    <a href="/spielplan">Spielplan</a>
    <a href="/tickets">Tickets</a>
    <a href="/aboutus">Über uns</a>
    <a href="/stadion">Stadion</a>
    <a href="/sclyoungtigers">SCL Young Tigers</a>
  </div>

  <div class="spielplanWrapper">
    <h1>Nächste Spiele</h1>
    <div class="tabelle">
      <table>
        <tr>
          <td class="start-gameplan">14.2.2025</td>
          <td class="start-gameplan">19.45 Uhr</td>
          <td class="start-gameplan">SCL Tigers vs. HC Ambri-Piotta</td>
        </tr>
        <tr>
          <td class="start-gameplan">15.2.2025</td>
          <td class="start-gameplan">19.45 Uhr</td>
          <td class="start-gameplan">Genève-Servette HC vs. SCL Tigers</td>
        </tr>
        <tr>
          <td class="start-gameplan">22.2.2025</td>
          <td class="start-gameplan">19.45 Uhr</td>
          <td class="start-gameplan">SCL Tigers vs. EHC Kloten</td>
        </tr>
      </table>
    </div>
    <div class="start-buttons">
      <a href="/spielplan" class="start-button">Zum Spielplan</a>
      <a href="/tickets" class="start-button">Tickets</a>
    </div>

  </div>

</header>