<header class ="longHeader">

      <div class="header">
        <a href="/"><img class="Logo" src="/uploads/Logo_SCL_Tigers.svg.png" alt="SCL Tigers Logo"
          /></a>
        <a href="/">Home</a>
        <a href="/news" class="">News</a>
        <a href="/spielplan">Spielplan</a>
        <a href="/tickets">Tickets</a>
        <a href="/aboutus">Über uns</a>
        <a href="/stadion">Stadion</a>
        <a href="/sclyoungtigers">SCL Young Tigers</a>
      </div>
    </header>