<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>

    {{{body}}}

    <footer>

      <h5>Kontakt</h5><p>
        <a href="/page">Erklärungsseite</a></p>
      <p> <a href="/impressum">Impressum</a></p>
      <div class="adressblock">
        <p>SCL Tigers AG</p>
        <p>Güterstrasse 18</p>
        <p>Postfach</p>
        <p>CH-3550 Langnau i.E.</p>
      </div>
      <p><i class="fa-solid fa-phone" style="color: #ffffff;"></i><a
          href="+41 34 408 35 35"
        >+41 34 408 35 35</a>
      </p>
      <p><i class="fa-solid fa-envelope" style="color: #ffffff;"></i><a
          href="info@scltigers.ch"
        >info@scltigers.ch</a></p>

      <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
      <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
      <i class="fa-brands fa-square-facebook" style="color: #ffffff;"></i>

    </footer>

  </body>
</html>