<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header style="background-image: url('/uploads/2025-03-01-Tigers-Ajoie_news.jpg');">
      <a href="/"><img
          src="/uploads/Logo_SCL_Tigers.svg.png"
          alt="SCL Tigers Logo"
        /></a>
      <div>
        <a href="/">Home</a>
        <a href="/news" class="">News</a>
        <a href="/spielplan">Spielplan</a>
        <a href="/tickets">Tickets</a>
        <a href="/aboutus">Über uns</a>
        <a href="/stadion">Stadion</a>
        <a href="/sclyoungtigers">SCL Young Tigers</a>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>
    <footer>
      <h5>Kontakt</h5>
      <p>SCL Tigers AG</p>
      <p>Güterstrasse 18</p>
      <p>Postfach</p>
      <p>CH-3550 Langnau i.E.</p>
      <p><a href="+41 34 408 35 35">+41 34 408 35 35</a></p>
</p> <a href="info@scltigers.ch">info@scltigers.ch</a></p>
    </footer>

  </body>
</html>