<h2>Login</h2>

<form action="/login" method="POST">
  E-Mail:
  <input name="email" type="text" /><br />
  Passwort:
  <input name="passwort" type="password" /><br />
  <input class="Button-Form" type="submit" value="Anmelden" />
</form>

<a class="Regi" href="/registration" class="button">No Login? Create your
  Profile here</a>