<h2>Login</h2>

<form action="/login" method="POST">

  <input name="email" type="text" placeholder="email" /><br />

  <input name="passwort" type="password" placeholder="password" /><br />
  <input class="Button-Form" class="login" type="submit" value="Anmelden" />
</form>

<a class="Regi-Link" href="/registration" class="button">No Login? Create your
  Profile here</a>