<h2>Login</h2>

<form action="/create_login" method="POST">
  E-Mail:
  <input name="username" type="text" /><br />
  Passwort:
  <input name="passwort" type="password" /><br />
  <input type="submit" value="Anmelden" />
</form>
<a href="/registration" class="button">Registrieren</a>