<form action="/create_post" enctype="multipart/form-data" method="post">
  <input type="text" name="title" />
  <input type="file" name="image" />
  <input type="date" name="timestamp" />
  <input type="text" name="description" />
  <input type="submit" />
</form>