<h2>Registration</h2>

<hr />

<h3>Kontaktieren Sie uns!</h3>

<form>
  E-Mail:
  <input type="email" /><br/>
  Nachricht:
  <textarea></textarea><br />
  <input type="submit" value="Senden" />
</form>