<h2>Registrieren</h2>

<form action="/registration" method="POST">
  Username:
  <input name="username" type="text" /><br />
  prename
  <input name="prename" type="text" /><br />
  name
  <input name="name" type="text" /><br />
  age
  <input name="age" type="int" /><br />
  phonenumber
  <input name="phonenumber" type="text" /><br />
  email
  <input name="email" type="text" /><br />
  Passwort:
  <input name="passwort" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>