<!-- LONG HEADER --------------------------------------------->

{{> longHeader}}



<!-- START --------------------------------------------->
  <div class="START">

  <h1>Nächste Spiele</h1>
  <div class="Nächste-Spiele">
    <div class="Spiel">
      <p>14.02.2025</p>
      <p>19:45</p>
      <p>SCL Tigers - HC Ambri-Piotta</p>
    </div>
    <div class="Spiel">
      <p>15.02.2025</p>
      <p>19:45</p>
      <p>Genève-Servette HC - SCL Tigers</p>
    </div>
    <div class="Spiel">
      <p>22.02.2025</p>
      <p>19:45</p>
      <p>SCL Tigers - EHC Kloten</p>
    </div>
  </div>
  <p><a href="spielplan.handlebars">zum Spielplan</a></p>
  <a href="tickets.handlebars" class="tickets-button">Tickets</a>

</div>



<!-- NEWS --------------------------------------------->
<div>
  <h1>News</h1>
<div class="news">
  <div>
    <div>
      <img src="" alt="" />
      <h3>Medical Report: Stéphane Charlin fällt 6-8 Wochen aus</h3>
    </div>
    <div>
      <img src="" alt="" />
      <h3>Stellungnahme der SCL Tigers zu den Vorfällen anlässlich des Heimspiels
        vom 31. Januar 2025 in Langnau</h3>
    </div>
    <div>
      <img src="" alt="" />
      <h3>Vierter Sieg gegen den SC Bern in dieser Saison</h3>
    </div>
    <div>
      <img src="" alt="" />
      <h3>Schläglerei artet aus. Matthias Muster wurde dreimal die Nase gebrochen.</h3>
    </div>
  <a href="news.handlebars" class="button">Mehr</a>
</div>
</div>


<!-- SOCIAL WALL --------------------------------------------->
<h1> Social Wall</h1>
<div class="Social-Wall">
<div class="social-wall-box">
  <img src="/uploads/a_Tigers-Lausanne_23-03-2025_001.jpg-1400x933.webp" alt="">
  <h4>Datum</h4>
  <h2>Märit</h2>
  <h3>Am Mittwoch, 26. Februar, ist wieder Langnau-Märit! 
    Ihr findet unseren Stand aber nicht am Märit selber, sondern in der Emmetal Versicherung Arena: Der Fanshop ist von 11:00 bis 16:00 Uhr geöffnet.#chömetvrbi #mirfreueüs #ämmitauermärit
    </h3>
    <i class="fa-solid fa-heart" style="color: #484848;"></i>
    <i class="fa-solid fa-comment" style="color: #484848;"></i>
    <i class="fa-solid fa-share-nodes" style="color: #484848;"></i>
</div>
<div class="social-wall-box">
  <img src="/uploads/a_Tigers-Lausanne_23-03-2025_001.jpg-1400x933.webp" alt="">
  <h4>Datum</h4>
  <h2>Video</h2>
  <h3>Dario Allpenspach - Best Player #därudubischnä #vidöli 
    </h3>
    <i class="fa-solid fa-heart" style="color: #484848;"></i>
    <i class="fa-solid fa-comment" style="color: #484848;"></i>
    <i class="fa-solid fa-share-nodes" style="color: #484848;"></i>
</div>
<div class="social-wall-box">
  <img src="/uploads/a_Tigers-Lausanne_23-03-2025_001.jpg-1400x933.webp" alt="">
  <h4>Datum</h4>
  <h2>Schlägerei</h2>
  <h3>Beim Letzten Spiel gegen die Bieler kam es zu einer heftigen Schlägerei.#üsduetsleid #dsischunfair

    </h3>
    <i class="fa-solid fa-heart" style="color: #484848;"></i>
    <i class="fa-solid fa-comment" style="color: #484848;"></i>
    <i class="fa-solid fa-share-nodes" style="color: #484848;"></i>
</div>
<div class="social-wall-box">
  <img src="/uploads/a_Tigers-Lausanne_23-03-2025_001.jpg-1400x933.webp" alt="">
  <h4>Datum</h4>
  <h2>Schlägerei</h2>
  <h3>Beim Letzten Spiel gegen die Bieler kam es zu einer heftigen Schlägerei.#üsduetsleid #dsischunfair

    </h3>
    <i class="fa-solid fa-heart" style="color: #484848;"></i>
    <i class="fa-solid fa-comment" style="color: #484848;"></i>
    <i class="fa-solid fa-share-nodes" style="color: #484848;"></i>
</div>
<div class="social-wall-box">
  <img src="/uploads/a_Tigers-Lausanne_23-03-2025_001.jpg-1400x933.webp" alt="">
  <h4>Datum</h4>
  <h2>Schlägerei</h2>
  <h3>Beim Letzten Spiel gegen die Bieler kam es zu einer heftigen Schlägerei.#üsduetsleid #dsischunfair

    </h3>
    <i class="fa-solid fa-heart" style="color: #484848;"></i>
    <i class="fa-solid fa-comment" style="color: #484848;"></i>
    <i class="fa-solid fa-share-nodes" style="color: #484848;"></i>
</div>
<div class="social-wall-box">
  <img src="/uploads/a_Tigers-Lausanne_23-03-2025_001.jpg-1400x933.webp" alt="">
  <h4>Datum</h4>
  <h2>Schlägerei</h2>
  <h3>Beim Letzten Spiel gegen die Bieler kam es zu einer heftigen Schlägerei.#üsduetsleid #dsischunfair

    </h3>
    <i class="fa-solid fa-heart" style="color: #484848;"></i>
    <i class="fa-solid fa-comment" style="color: #484848;"></i>
    <i class="fa-solid fa-share-nodes" style="color: #484848;"></i>
</div>
<div class="social-wall-box">
  <img src="/uploads/a_Tigers-Lausanne_23-03-2025_001.jpg-1400x933.webp" alt="">
  <h4>Datum</h4>
  <h2>Schlägerei</h2>
  <h3>Beim Letzten Spiel gegen die Bieler kam es zu einer heftigen Schlägerei.#üsduetsleid #dsischunfair

    </h3>
    <i class="fa-solid fa-heart" style="color: #484848;"></i>
    <i class="fa-solid fa-comment" style="color: #484848;"></i>
    <i class="fa-solid fa-share-nodes" style="color: #484848;"></i>
</div>
<div class="social-wall-box">
  <img src="/uploads/a_Tigers-Lausanne_23-03-2025_001.jpg-1400x933.webp" alt="">
  <h4>Datum</h4>
  <h2>Schlägerei</h2>
  <h3>Beim Letzten Spiel gegen die Bieler kam es zu einer heftigen Schlägerei.#üsduetsleid #dsischunfair

    </h3>
    <i class="fa-solid fa-heart" style="color: #484848;"></i>
    <i class="fa-solid fa-comment" style="color: #484848;"></i>
    <i class="fa-solid fa-share-nodes" style="color: #484848;"></i>
</div>
</div>