<h1>InConnection</h1>

<h2>Mit deinen Lebensmenschen in Verbindung sein.</h2>

<div class="Box-Button">
  <button class="buttons"><a href="/login">Login</a></button>
  <button class="buttons"><a href="/registration">Registration</a></button>
</div>

<p>Heii, schön hast du auf diese Seite gefunden. Bei uns kannst du stehts mit
  deinen Liebsten in Kontakt sein. Du siehst, was sie gerade machen, wie es
  ihnen geht und kannst dich so, auch wenn du gerade nicht bei ihnen bist, mit
  ihnen verbunden fühlen.
</p>