<!-- SHORT HEADER --------------------------------------------->

{{> shortHeader}}
<main>

<h1>Einzeltickets</h1>

<a
  href="https://www.ticketmaster.ch/artist/scl-tigers-tickets/1036082?brand=scltigers"
  class="tickets-button"
>Ticketmaster</a>
<a href="https://www.scltigers.ch/faq/" class="tickets-button">FAQ</a>
<a href="https://www.scltigers.ch/agb/" class="tickets-button">AGB</a>

<div class="tickets">
  <div class="tickets-left">
    <h2 class="price-h2">Preise Einzeltickets</h2>
    <img src="/uploads/SCL-Tigers_Sektorenplan_2425-1024x697.png" alt="" class="sectorplan"/>
  <table>
  <thead>
      <td class="title-table">Sektor</td>
      <td class="title-table"> </td>
      <td class="title-table">Platz</td>
      <td class="title-table">Preise*</td>
  </thead>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #00B1FF"></i></td>
      <td>Jakob Galerie</td>
      <td>Sitzplatz</td>
      <td>160.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #00B1FF"></i></td>
      <td>Jakob Galerie</td>
      <td>Stehplatz</td>
      <td>100.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #326EFF"></i></td>
      <td>Ost-Tribüne</td>
      <td>Sitzplatz</td>
      <td>82.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #326EFF"></i></td>
      <td>Ost-Tribüne</td>
      <td>Anlehnsteh</td>
      <td>62.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #326EFF"></i></td>
      <td>Ost-Tribüne</td>
      <td>Stehplatz</td>
      <td>57.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #B94EE4"></i></td>
      <td>GLB-Tribüne</td>
      <td>Sitzplatz</td>
      <td>100.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #B94EE4"></i></td>
      <td>GLB-Tribüne</td>
      <td>Stehplatz</td>
      <td>62.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #FF001B"></i></td>
      <td>C,D,E</td>
      <td>Sitzplatz</td>
      <td>62.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #162DE5"></i></td>
      <td>B,F,H,I,K</td>
      <td>Sitzplatz</td>
      <td>62.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #FFC600"></i></td>
      <td>B,C,D,E,L</td>
      <td>Sitzplatz</td>
      <td>57.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #F600CD"></i></td>
      <td>C,D,E,F</td>
      <td>Sitzplatz</td>
      <td>52.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #007867"></i></td>
      <td>A,G,M,N,O</td>
      <td>Sitzplatz</td>
      <td>48.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #A60000"></i></td>
      <td>F</td>
      <td>Sitzplatz</td>
      <td>43.–</td>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #AD7E00"></i></td>
      <td>Erwachsene</td>
      <td>Stehplatz</td>
      <td>25.–</td>
      <tr>
        <td><i class="fa-sharp fa-solid fa-square" style="color: #AD7E00"></i></td>
        <td>Kinder bis 16 J.</td>
        <td>Stehplatz</td>
        <td>14.–</td></tr>
    </tr>
    <tr>
      <td><i class="fa-sharp fa-solid fa-square" style="color: #0074A1"></i></td>
      <td>Rollstuhl</td>
      <td>Stehplatz</td>
      <td>25.–</td>
    </tr>
  </table>
  <h5>*alle Preise inkl. 2.6% MWST (Stand. 1. Mai 2024)</h5>
  </div>

  <div class="tickets-right">
    <div>
      <h2>Family-Corner</h2>
      <table class="styled-table">
        <thead>
            <th class="title-table"> </th>
            <th class="title-table">Platz</th>
            <th class="title-table">Preise*</th>
        </thead>
          <tr>
            <td>Vierköpfige Familie</td>
            <td>Sitzplatz</td>
            <td>100.–</td>
          </tr>
        </table>
      <h5>pro Person 1x
        <i class="fa-solid fa-burger" style="color: #000000;"></i>
        + alkoholfreies Getränk
        <i class="fa-solid fa-whiskey-glass" style="color: #000000;"></i>
        nach Wahl im Tigersaal (Selbstbedienung).
      </h5>
      <p>*Das Ticket zum Preis von Fr. 100.– ist gültig für eine vierköpfige
        Familie (2 Erwachsene + 2 Kinder oder 1 Erwachsener + 3 Kinder).</p>
    </div>
    <h2>Sektorenplan</h2>
    <img src="/uploads/SCL-Tigers_Sektorenplan_2425-1024x697.png" alt="" />

    <div class="sectors">
      <h5><i class="fa-solid fa-file-arrow-down" style="color: #ed1c24;"><a href="https://www.scltigers.ch/wp-content/uploads/20240412_SCL_SaalplanSK_2425_Platzgenau.pdf"
        ></a></i>Saalplan Platz genau</h5>
        <h5><i class="fa-solid fa-file-arrow-down" style="color: #ed1c24;"><a href="https://www.scltigers.ch/wp-content/uploads/SCL_Saalplan2425_Sektoren.pdf"
          ></a></i>Saalplan Übersicht</h5>
    </div>
    <div>
      <h2>Allgemeine Matchinfos</h2>
      <h3>Kinder</h3>
      <p>Kinder bis 6 Jahre haben freien Eintritt in Begleitung eines
        Erwachsenen. Die Kinder haben jedoch KEINEN Anspruch auf einen separaten
        Sitzplatz. (Stichtag ist der 7. Geburtstag). Als Kinder gelten
        Matchbesucher ab 7 Jahren bis zum vollendeten 15. Lebensjahr. Ab dem 16.
        Geburtstag ist ein Ticket für Erwachsene zu beziehen. Eltern haften für
        ihre Kinder.</p>
      <h3>Rollstuhlfahrer/-innen und Begleitpersonen auf der Plattform Lebensart</h3>
      <p>Rollstuhlplätze (pro Rollstuhlplatz zusätzlich max. 2 Begleitpersonen)
        und Begleitpersonen auf der Plattform Lebensart sind über die SCL Tigers
        Geschäftsstelle zu reservieren, +41 34 408 35 35
        / ticketing@scltigers.ch.</p>
      <h3>Öffentlicher Verkehr</h3>
      <p>Bitte beachten Sie, dass das Match-Ticket NICHT als Fahrausweis für die
        öffentlichen Verkehrsmittel gilt. Für die Anreise mit öffentlichen
        Verkehrsmitteln gelten die normalen Tarife (Info Anfahrt).</p>
      <h3>Kühni Träff</h3>
      <p>Der Kühni Träff ist ab 17.45 geöffnet, zutritt aber nur mit einem
        gültigen Matchticket. Ab dem 3. Drittel ist der Zugang für alle
        geöffnet.</p>
      <h3>Neues Einlasskonzept & Ausweiskontrolle</h3>
      <p>Für Heimspiele steht nur noch ein Haupteingang zum Areal zur Verfügung
        (siehe Plan). Die gesamte emmental versicherung arena wird an Spieltagen
        umzäunt und der Einlass wurde auf den Vorplatz vorverlagert. Zudem wird
        beim Eingang bei allen reduzierten Tickets – Lernende, Studenten, AHV,
        und Kinder bis 16 J. – eine Ausweiskontrolle mittels Identitätskarte,
        Pass oder Führerausweis durchgeführt. Wir bitten alle Fans, frühzeitig
        anzureisen, um Verzögerungen zu vermeiden.</p>

    </div>
  </div>
</div>

</main>