<h1>Einzeltickets</h1>
<a
  href="https://www.ticketmaster.ch/artist/scl-tigers-tickets/1036082?brand=scltigers"
>Ticketmaster</a>
<a href="https://www.scltigers.ch/faq/">FAQ</a>
<a href="https://www.scltigers.ch/agb/">AGB</a>

<h2>Preise Einzeltickets</h2>
<h2>Family-Corner</h2>
<h2>Sektorenplan</h2>

<div>
  <h2>Allgemeine Matchinfos</h2>
  <h3>Kinder</h3>
</div>