/*Allgemeines definiert*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/*Main = Body ohne Header und ohne Footer*/
main {
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*definierte Farben*/
:root {
  --white: #ffffff;
  --green: #8abca4;
  --black: #000000;
  --grey: #ededed;
  --darkgrey: #2F2F2E;
  --red: #ED1C24;
  --yellow: #FFD600 ;
}

/*Header***********************************************************/
header h5 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 10px;
}
header {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 0;
  padding-bottom: 20px;
  color: var(--white);
}

/*navigationstext gestalten */
header a:hover {
  color: var(--black);
}

header div {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-right: 20px;
  align-items: center;
}

header div a {
  padding-left: 40px;
}

/*Bilder gestaltet */
/*Logo */
.Logo {
  width: 70px;
}


/********************

/*Bild Startseite (long-header)*/
.longHeader{
  position: relative;
  background-image: url('/uploads/2025-03-01-Tigers-Ajoie_news.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  z-index: 0; /* Wichtig für Schichten */
}

/* Overlay */
.longHeader::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Hier kannst du die Dunkelheit anpassen */
  z-index: 1;
}

/* Damit Inhalt (Navigation usw.) über dem Overlay liegt */
.longHeader .header {
  position: relative;
  z-index: 2;
}


/********************

/*Bild normal */



/********************


/*****************************************************************

/*Links********************************************************/
a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 200;
}
/***************************************************************


/*Buttons-Gestaltung*********************************************/
/*Button selber*/
.buttons a {
  display: inline-block;
  color: var(--white);
  background-color: var(--green);

  width: 250px;
  height: 35px;
  padding: 20px 10px 10px 10px ;
  border-radius: 8px;
}

/*Box um Buttons*/
.buttons {
color: none;
background-color: var(--white);
border-width: 0;
width: 10%;;
margin-right: 220px;
margin-top: 10px;
}

/* Button selber hover-effekt */
.buttons a:hover {
  background-color: var(--grey);
  color: var(--black);
}

/* Box um beide Buttons */
.Box-Button {
  display: flex;
  flex-direction: row;
  display: inline-block;
}




/*allgemeine Fonts**********************************************************/
h1 {
  margin-top: 10px;
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
}




/***************************************************************
/*Gestaltung Posts*/
.post {
  display: flex;
  flex-direction: row;
  background-color: var(--grey);
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 0;
  margin-top: 30px;
  width: 60vw;
}


/* hover effects für post */
.post:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Schatten bei Hover */
}


img {
  object-fit: cover;
  border-radius: 8px 0 0 8px; /* Nur die linken Ecken abrunden */
  width: 30vw;
  height: auto;
}
.innercontainer {
  display: flex;
  flex-direction: column;
  padding: 4%;
}

/* like button gestalten */
.heart {
  margin-top: 12px;
  width: 10%;
}


/* jetzt kommentieren feld stylen */
.comment {
  background-color: #D9D9D9 ;
  color: #919191;
}



/* button zum kommentar senden */
.button-comment {
  background-color: var(--green);
  color: var(--white);
}
.button-comment:hover {
  background-color: #D9D9D9;
  color: var(--black);
}
/*****************************************************************





/*Login und Registration***********************************************************/
form {
  width: 97%;
}

form input{
  background-color: var(--grey);
  border-radius: 8px;
  border-width: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
width: 100%;
}

.create_post_input {
  background-color: var(--white);
  border-radius: 8px;
  border-width: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
width: 100%;
}

input #file-upload-button {
  background-color: var(--aqua);
}


.Button-Form {
  color: var(--white);
  background-color: var(--green);
  border-radius: 8px;
  border-width: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
}

.Button-Form:hover {
  color: var(--black);
  background-color: var(--grey);
}

.Regi-Link {
  color: var(--green);
  margin-top: 20px;
}

.Regi-Link:hover {
  color: var(--grey);
}






.registration {
  color: var(--black);
  background-color: var(--grey);
  width: 269px;
  height: 58px;
  border-radius: 8px;
  border-width: 0;
  margin-bottom: 30px;
  margin-top: 20px;
}
/*********************************************************************

/*home****************************/
.spiel {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

/*Div Social Wall***************************/
div.Social-Wall {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 Spalten */
  gap: 10px; /* Abstand zwischen den Divs */
}

.social-wall-box {
  background-color: #F0F6FF;
  padding: 2vw;
}

/*News***********************************/

/*blöcke*/
.news {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 Spalten */
  gap: 20px; /* Mehr Abstand zwischen den Elementen */
  padding: 20px; /* Etwas Abstand zum Rand */
}

/*breadcrumbs*/
.breadcrumbs-nav {
  display: flex;
  flex-direction: row;
}


/*Tickets****************************************/
.tickets {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 Spalten */
  gap: 20px; /* Mehr Abstand zwischen den Elementen */
}

.tickets-button {
  background-color: var(--red);
  color: var(--yellow);
  padding: 2vw;
}
/*Footer**********************************************************/
footer {
  position:relative;
  bottom: 1%;
  border-top: 1px solid #9C9C9C; /* 2px dicker schwarzer Border */
  padding: 10px;             /* Abstand im Footer-Inhalt */
  margin-top: 60px;
  background-color: var(--darkgrey);
  color: var(--white);
}

footer h5 {
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 10px;
}


footer h5:hover {
  color: var(--green)
}

footer a {
  margin-left: 20px;
  margin-bottom: 10px;
}
/*****************************************************************